.favsContainer {
  background: url("../../Assets/background.png");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.colorLayer {
  background-color: #880ee9;
  height: 100%;
  width: 100%;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.noFav {
  font-size: 2em;
  align-self: center;
  color: white;
  animation: appear 1s ease-in-out;
}
.favourites {
  width: 85%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  align-self: center;
  margin-top: 15%;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  // overflow-y:scroll;
  overflow-x: hidden;
  z-index: 9999;
}

.favourite {
  flex: 0 0 15%;
  height: 35%;
  width: 30% !important;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 2%;
  margin-top: 2%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  color: white !important;
}
.location {
  display: flex;
  flex-direction: column;
  position: relative;
}

.forcastLocal {
  width: 85%;
  align-self: center;
  border-top: 1px solid white;
  border-radius: 5px;
  color: white;
}
.deleteButton {
  all: unset;
  height: 18%;
  width: 15%;
  align-self: flex-end;
  margin-right: 5%;
  margin-top: 2%;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  color: black !important;
  display: flex;
  justify-content: center;
  span {
    align-self: center;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 600px) {
  .favourites {
    height: 80%;
    justify-content: center;
    overflow-y: hidden;
  }
  .favourite {
    height: 35%;
    width: 30% !important;

    border-radius: 15px;
    span {
      font-size: 0.8em;
    }
  }
}
@media only screen and (max-width: 600px) and (min-width: 250px) {
  .favourites {
    height: 85%;
    overflow-y: scroll;
    animation: appear 1s ease-in-out;
  }
  .favourite {
    flex: unset;
    height: 25%;
    width: 30% !important;
    justify-content: space-evenly;
    border-radius: 15px;
    span {
      font-size: 0.5em;
    }
    animation: appear 1s ease-in-out;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
